<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="images/djezzy-logo.png" rel="icon" />
    <title>403 Forbidden</title>
    <link rel="stylesheet" href="stylesheets/style.css" />

    <!-- Google Font: Source Sans Pro -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
    />
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="fontawesome-free/css/all.min.css" />
    <!-- overlayScrollbars -->
    <link
      rel="stylesheet"
      href="overlayScrollbars/css/OverlayScrollbars.min.css"
    />
    <!-- Theme style -->
    <link rel="stylesheet" href="stylesheets/adminlte.min.css" />
  </head>
  <body
    class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed"
  >
    <div class="container-fluid h-100 mt-5">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h2 class="text-warning">403</h2>
              <div class="error-content">
                <h3>
                  <i class="fas fa-exclamation-triangle text-warning"></i>
                  Sorry, it's not allowed to go beyond this point!
                </h3>
                <p>
                  Please, go back this way
                  <a href="/">Dashboard</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <script src="javascripts/adminlte.js"></script>
  </body>
</html>
